USE [GOOGLE]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 11/12/2019 15:33:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[HOTEN] [nvarchar](50) NOT NULL,
	[TENND] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](30) NOT NULL,
	[SDT] [varchar](15) NULL,
	[EMAIL] [varchar](50) NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENND] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
