h1{
  text-size: 50px;
  padding-left:  235px;
  color: #fab1a0;
}
body {
  background-image: url(  http://westernedu.vn/images/stores/2020/01/06/image.jpg);
  background-size: cover;
  border: 2px solid blue;
  padding: 10px;
}
.choice {
  color: #fdcb6e;

}
h3{
  width: auto;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
}
.choice{
  border: 2px solid blue;
  padding: 10px;
}
